body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; /* Set text color to white */
    background-color: #222; /* Set background color to dark grey */
}

.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #222;
    color: #fff;
}

.intro h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #000; /* Set button background color a little darker than the background */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 10px; /* Set border-radius for rounded corners */
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #333; /* Darken button background color on hover */
}

.section {
    height: 100vh;
    opacity: 0; /* Initially hide text */
}

/* Define animation for popping up text */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation to sections */
.section {
    height: 100vh;
    animation: fadeInUp 1s ease-out;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.content p {
    font-size: 1.1rem;
}

footer {
    background-color: #222;
    color: #fff;
    padding: 50px 0;
}

.social-media {
    margin-bottom: 20px;
}

.social-link {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.social-link:hover {
    opacity: 0.7;
}

.offer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.offer {
    flex: 0 0 calc(33.33% - 20px);
    background-color: #666; /* Set background color to a darker shade of grey */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.offer h3 {
    font-size: 1.5rem;
}

.offer p {
    font-size: 1rem;
}

